.Pokemonlist {
  width: 98%;
  min-height: 100vh;
  background-color: #fff;
  margin: 15px auto;
  div {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    gap: 20px;
    height: 250px;
  }
}
